#
#
# Ignores
#
#
target
target/**
bin
bin/**
.project
.metadata
.settings
.classpath
.gitignore~ # dit is voor lock-bestanden .gitignore

#output gemaakt door Antlrworks
src/main/antlr3/edu/utwente/vb/example/output/
src/test/java/edu/utwente/vb/TestParserWithExamples.java
#Wat hieronder staat is voor LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.pdf
